$defult-border-radius: 5px;
$default-btn-padding: 10px;
$course-element-align-margin: 10px;

.group-list-container {
    .header {
        h1 {
            text-align: center;
        }

        .create-new-btn {
            text-decoration: none;
            padding: 15px;
            font-size: large;
            border-radius: $defult-border-radius;
            background-color: #2470ff;
            color: black;
            border: none;
        }
        
        .create-new-btn:hover {
            cursor: pointer;
        }
    }

    .group-list {
        list-style: none;
        margin-top: 30px;
        padding: 0px;
        overflow: auto;
        max-height: 70vh;
    
        .group-element {
            padding: 20px;
            margin-bottom: 10px;
            box-shadow: 5px 5px 5px #363636;
            border: 1px solid black;
            border-radius: $defult-border-radius;
            font-size: large;
            display: flex;

            .group-element-link {
                color: black;
            }
    
            .group-element-link:hover {
                text-decoration: none;
            }
        }
    }
}

.create-group-container {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: $defult-border-radius;
    padding: 20px;

    h3 {
        margin-top: 0px;
    }

    label {
        font-size: large;
    }

    input {
        border: none;
        border-bottom: 1px solid black;
        border-radius: $defult-border-radius;
        min-width: 100%;
        font-size: large;
    }
    
    input:focus {
        outline: none;
    }

    .btn-group {
        margin-top: 20px;

        .create-btn {
            border: none;
            background-color: #16e02b;
            color: black;
            font-size: medium;
            border-radius: $defult-border-radius;
            padding: $default-btn-padding;
            margin-right: 5px;
        }

        .cancel-btn {
            text-decoration: none;
            background-color: #e31717;
            color: black;
            font-size: medium;
            border-radius: $defult-border-radius;
            padding: $default-btn-padding;
            border: none;
        }

        .create-btn:hover, 
        .cancel-btn:hover {
            cursor: pointer;
        }
    }
}