.navbar-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    border-radius: 10px;
    box-shadow: -10px 10px 10px #363636;
    text-align: center;
    margin-right: 30px;
    font-size: 20px;
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px 50px;
            border-top: 1px #dedede solid;
            border-bottom: 1px #dedede solid;
        }

        li:hover {
            background-color: #6b82ff;
            border-top: 1px black solid;
            border-bottom: 1px black solid;
            cursor: pointer;
        }

        .disabled {
            background-color: rgba(0,0,0,0.4);
        }

        .disabled:hover {
            background-color: rgba(0,0,0,0.4);
            cursor: default;
        }
    }

    ul:first-child {
        padding-top: 20px;
    }

    a {
        text-decoration: none;
    }
}