$defult-border-radius: 5px;
$default-btn-padding: 10px;
$course-element-align-margin: 10px;

.assign-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    .modal-content {
      background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      padding: 20px;
      width: max-content;
      max-width: 80%;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        i {
          margin-left: 15px;
        }

        i:hover {
          cursor: pointer;
        }

        h3 {
          margin: 0;
        }
      }

      .unassign-student-list {
        list-style: none;
        padding: 0;
        overflow: auto;
        max-height: 40vh;

        .student-element {
          border: 1px solid black;
          padding: 10px;
          border-radius: $defult-border-radius;
          font-size: large;
          margin-bottom: 5px;

          input[type=checkbox] {
            transform: scale(1.3);
            margin-right: 10px;
          }
        }
      }

      .assign-student-btn {
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #4287f5;
        border: none;
      }

      .assign-student-btn:hover {
        cursor: pointer;
      }

      .disabled {
        background-color: #adadad;
      }

      .disabled:hover {
        cursor: not-allowed;
      }
    }
  }