.page-container-vertical {
    margin: 10px 0 0 1%;
    display: flex;
    flex-direction: column;
}

.page-container-horizontal {
    margin: 10px 0 0 1%;
    display: flex;
    flex-direction: row;
}