.content-continer {
    border-radius: 10px;
    box-shadow: -10px 10px 10px #363636;
    background-color: white;
    padding: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;   
}

.content-continer-center {
    border-radius: 10px;
    box-shadow: -10px 10px 10px #363636;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 50%;
    align-self: center;
}

.loading-container {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color:#d6d6d6, $alpha: 0.5);

    h1 {
        text-align: center;
    }
}