.error {
    width: 100%;
    background-color: #eb233b;
    display: flex;
    height: 40px;
    font-family: 'Robot', sans-serif;

    .close-btn {
        width: initial;
        color: black;
        background-color: inherit;
        box-shadow: none;
        margin-left: auto;
        border: none;

    }

    .close-btn:hover {
        cursor: pointer;
    }

    span {
        margin: auto 5px;
        font-size: 16px;
    }
}
