$defult-border-radius: 5px;
$default-btn-padding: 10px;
$course-element-align-margin: 10px;

.content {
    text-align: center;
    font-family: inherit;
    color: black;

    ul {
        list-style-type: none;

        li {
            margin-bottom: 10px;

            a {
                color: black;
            }
        }
    }

    .course-list-container {
        margin-top: 20px;

        .course-burger {
            display: flex;
            flex-direction: row;
            padding: 20px;
            border: 1px solid black;
            border-radius: 5px;
      
            h3 {
              margin: 0;
            }
      
            .material-icons {
              margin-left: auto;
            }
          }
      
          .course-burger:hover {
            cursor: pointer;
          }
      
          .loading-placeholder {
            border: 1px solid black;
            border-top: none;
      
            h1 {
              margin: 0;
              padding: 30px 0;
              text-align: center;
            }
        }

        .course-list {
            list-style: none;
            border: 1px solid black;
            border-top: none;
            margin: 0;
            padding: 10px;
            overflow: auto;
            max-height: 50vh;
            border-radius: 5px;
      
            .course-element {
              padding: 10px;
              margin-bottom: 10px;
              border: 1px solid black;
              box-shadow: 5px 5px 5px #363636;
              border-radius: $defult-border-radius;
              font-size: large;
              display: flex;
            }
        }
    }
}
