$defult-border-radius: 5px;
$default-btn-padding: 10px;
$course-element-align-margin: 10px;

.course-single-container {
  margin: 10px;

  .header {
    display: flex;
    flex-direction: column;

    i {
      font-size: 30px;
      width: max-content;
    }

    i:hover {
      cursor: pointer;
    }

    .btn-group {

      .update-btn {
        margin-right: 10px;
        text-decoration: none;
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #4287f5;
        border: none;
      }

      .delete-btn {
        text-decoration: none;
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #e8403a;
        border: none;
      }

      .assign-student-btn, .assign-lecturer-btn {
        margin-left: 10px;
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #4287f5;
        border: none;
      }

      .update-btn:hover, 
      .delete-btn:hover, 
      .assign-student-btn:hover,
      .assign-lecturer-btn:hover {
        cursor: pointer;
      }
    }
  }
}

.course-info-container {
  margin-top: 30px;

  .course-name-container {
    display: flex;
    flex-direction: row;

    h3 {
      margin: 0;
      font-size: 22px;
    }

    span {
      margin-left: 10px;
      font-size: 22px;
    }
  }

  .course-student-container {
    margin-top: 30px;

    .course-student-burger {
      display: flex;
      flex-direction: row;
      padding: 20px;
      border: 1px solid black;
      border-radius: 5px;

      h3 {
        margin: 0;
      }

      .material-icons {
        margin-left: auto;
      }
    }

    .course-student-burger:hover {
      cursor: pointer;
    }

    .loading-placeholder {
      border: 1px solid black;
      border-top: none;

      h1 {
        margin: 0;
        padding: 30px 0;
        text-align: center;
      }
    }

    .students-list {
      list-style: none;
      border: 1px solid black;
      border-top: none;
      margin: 0;
      padding: 10px;
      overflow: auto;
      max-height: 50vh;
      border-radius: 5px;

      .student-element {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        box-shadow: 5px 5px 5px #363636;
        border-radius: $defult-border-radius;
        font-size: large;
        display: flex;

        .unassign-btn {
          margin-left: auto;
          text-decoration: none;
          padding: $default-btn-padding;
          border-radius: $defult-border-radius;
          background-color: #e8403a;
          border: none;
        }

        .unassign-btn:hover {
          cursor: pointer;
        }
      }
    }
  }

  .course-lecturer-container {
    margin-top: 30px;

    .course-lecturer-burger {
      display: flex;
      flex-direction: row;
      padding: 20px;
      border: 1px solid black;
      border-radius: 5px;

      h3 {
        margin: 0;
      }

      .material-icons {
        margin-left: auto;
      }
    }

    .lecturer-list {
      list-style: none;
      border: 1px solid black;
      border-top: none;
      margin: 0;
      padding: 10px;
      overflow: auto;
      max-height: 50vh;
      border-radius: 5px;

      .lecturer-element {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        box-shadow: 5px 5px 5px #363636;
        border-radius: $defult-border-radius;
        font-size: large;
        display: flex;

        .unassign-btn {
          margin-left: auto;
          text-decoration: none;
          padding: $default-btn-padding;
          border-radius: $defult-border-radius;
          background-color: #e8403a;
          border: none;
        }

        .unassign-btn:hover {
          cursor: pointer;
        }
      }
    }
  }

  .course-lecturer-burger:hover {
    cursor: pointer;
  }
}

.update-course-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    label {
      margin-top: 5px;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      border: none;
      border-bottom: 1px solid black;
      border-radius: $defult-border-radius;
      min-width: 80%;
      font-size: 20px;
      padding: 5px;
    }
  
    input:focus {
      outline: none;
    }

    .btn-group {
      margin-top: 20px;

      .save-btn {
        text-decoration: none;
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #34eb49;
        border: none;
        margin-right: 5px;
      }

      .cancel-btn {
        text-decoration: none;
        padding: $default-btn-padding;
        border-radius: $defult-border-radius;
        background-color: #adadad;
        border: none;
      }

      .save-btn:hover, .cancel-btn:hover {
        cursor: pointer;
      }
    }
}