$switch-btn-width: 15vh;
$switch-btn-padding: 10px 0;
$switch-btn-transform-scale: scale(1.1, 1.1);
$input-tag-max-width: 50vh;

.switcher {
    margin-bottom: 10px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    max-width: max-content;
    align-self: center;
    font-size: large;

    .student-switch-btn {
        width: $switch-btn-width;
        padding: $switch-btn-padding;
        text-align: center;
    }

    .student-switch-btn:hover {
        background-color: #6bff54;
        cursor: pointer;
        transform: $switch-btn-transform-scale;
    }

    .lecturer-switch-btn {
        width: $switch-btn-width;
        padding: $switch-btn-padding;
        text-align: center;
    }

    .lecturer-switch-btn:hover {
        background-color: #bd54ff;
        cursor: pointer;
        transform: $switch-btn-transform-scale;
    }

    .divider {
        border-left: 1px solid black;
    }
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

.registration-container form {
    margin-left: 10vh;

    .input-block {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;

        select {
            margin-top: 10px;
            font-size: large;
            padding: 5px;
            max-width: $input-tag-max-width;
        }

        select:focus {
            outline: none;
        }

        select:hover {
            cursor: pointer;
        }
    }

    input {
        max-width: $input-tag-max-width;
        padding: 5px;
        border-radius: 3px;
        font-size: large;
        border: none;
        border-bottom: 2px solid #636363;
    }
    
    input:focus {
        outline: none;
        border-bottom: 2px solid black;
    }

    input[type=date]:hover {
        cursor: pointer;
    }

    button {
        border: 1px solid black;
        padding: 10px 15px;
        margin: 10% 10px 0 80%;
        border-radius: 5px;
        font-size: 20px;
    }

    button:hover {
        cursor: pointer;
    }
}