$defult-border-radius: 5px;
$default-btn-padding: 10px;
$course-element-align-margin: 10px;

.confirm-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-content {
      background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      padding: 20px;
      width: max-content;

      p {
        font-size: large;
      }

      .btn-group {
        
        .yes-btn {
          padding: $default-btn-padding;
          border-radius: $defult-border-radius;
          background-color: #34eb49;
          border: none;
          margin-right: 5px;
        }

        .no-btn {
          padding: $default-btn-padding;
          border-radius: $defult-border-radius;
          background-color: #adadad;
          border: none;
        }

        .yes-btn:hover, .no-btn:hover {
          cursor: pointer;
        }
      }
    }
  }